<a href="https://colab.research.google.com/github/tuxnani/pyrhmn/blob/master/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 35 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=d707b3acb1592b4dcb9976cf22dd3ce7e00dc57692d1c10462de66451918ef57
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
import pyspark
import numpy as np
import pandas as pd

In [3]:
sc = pyspark.SparkContext()

# Verify SparkContext
print(sc)

# Print Spark version
print(sc.version)

sc.stop()

<SparkContext master=local[*] appName=pyspark-shell>
3.2.1

In [4]:
from pyspark.sql import SparkSession

# Create my_spark
my_spark = SparkSession.builder.getOrCreate()

# Print my_spark
print(my_spark)

<pyspark.sql.session.SparkSession object at 0x7ffbdad04cd0>

In [5]:
spark = (SparkSession
  .builder
  .appName("flights")
  .getOrCreate())

# Path to data set
csv_file = "/content/flights_small.csv"

# Read and create a temporary view
# Infer schema (note that for larger files you 
# may want to specify the schema)
flights = (spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(csv_file))
flights.createOrReplaceTempView("flights")

In [6]:
query = 'FROM flights SELECT * LIMIT 10'

# Get the first 10 rows of flights
flights10 = spark.sql(query)

# Show the results
flights10.show()

+---+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|_c0|YEAR|MONTH|DAY|DAY_OF_WEEK|AIRLINE|FLIGHT_NUMBER|TAIL_NUMBER|ORIGIN_AIRPORT|DESTINATION_AIRPORT|SCHEDULED_DEPARTURE|DEPARTURE_TIME|DEPARTURE_DELAY|TAXI_OUT|WHEELS_OFF|SCHEDULED_TIME|ELAPSED_TIME|AIR_TIME|DISTANCE|WHEELS_ON|TAXI_IN|SCHEDULED_ARRIVAL|ARRIVAL_TIME|ARRIVAL_DELAY|DIVERTED|CANCELLED|CANCELLATION_REASON|AIR_SYSTEM_DELAY|SECURITY_DELAY|AIRLINE_DELAY|LATE_AIRCRAFT_DELAY|WEATHER_DELAY|
+---+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+
|  0|2015|    1|  1|          4|     AS|           98|     N407AS|           ANC|                SEA|                  5|        2354.0|          -11.0|    21.0|      15.0|         205.0|       194.0|   169.0|    1448|    404.0|    4.0|              430|       408.0|        -22.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  1|2015|    1|  1|          4|     AA|         2336|     N3KUAA|           LAX|                PBI|                 10|           2.0|           -8.0|    12.0|      14.0|         280.0|       279.0|   263.0|    2330|    737.0|    4.0|              750|       741.0|         -9.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  2|2015|    1|  1|          4|     US|          840|     N171US|           SFO|                CLT|                 20|          18.0|           -2.0|    16.0|      34.0|         286.0|       293.0|   266.0|    2296|    800.0|   11.0|              806|       811.0|          5.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  3|2015|    1|  1|          4|     AA|          258|     N3HYAA|           LAX|                MIA|                 20|          15.0|           -5.0|    15.0|      30.0|         285.0|       281.0|   258.0|    2342|    748.0|    8.0|              805|       756.0|         -9.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  4|2015|    1|  1|          4|     AS|          135|     N527AS|           SEA|                ANC|                 25|          24.0|           -1.0|    11.0|      35.0|         235.0|       215.0|   199.0|    1448|    254.0|    5.0|              320|       259.0|        -21.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  5|2015|    1|  1|          4|     DL|          806|     N3730B|           SFO|                MSP|                 25|          20.0|           -5.0|    18.0|      38.0|         217.0|       230.0|   206.0|    1589|    604.0|    6.0|              602|       610.0|          8.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  6|2015|    1|  1|          4|     NK|          612|     N635NK|           LAS|                MSP|                 25|          19.0|           -6.0|    11.0|      30.0|         181.0|       170.0|   154.0|    1299|    504.0|    5.0|              526|       509.0|        -17.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  7|2015|    1|  1|          4|     US|         2013|     N584UW|           LAX|                CLT|                 30|          44.0|           14.0|    13.0|      57.0|         273.0|       249.0|   228.0|    2125|    745.0|    8.0|              803|       753.0|        -10.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  8|2015|    1|  1|          4|     AA|         1112|     N3LAAA|           SFO|                DFW|                 30|          19.0|          -11.0|    17.0|      36.0|         195.0|       193.0|   173.0|    1464|    529.0|    3.0|              545|       532.0|        -13.0|       0|        0|               null|            null|          null|         null|               null|         null|
|  9|2015|    1|  1|          4|     DL|         1173|     N826DN|           LAS|                ATL|                 30|          33.0|            3.0|    12.0|      45.0|         221.0|       203.0|   186.0|    1747|    651.0|    5.0|              711|       656.0|        -15.0|       0|        0|               null|            null|          null|         null|               null|         null|
+---+----+-----+---+-----------+-------+-------------+-----------+--------------+-------------------+-------------------+--------------+---------------+--------+----------+--------------+------------+--------+--------+---------+-------+-----------------+------------+-------------+--------+---------+-------------------+----------------+--------------+-------------+-------------------+-------------+

In [8]:
query = 'SELECT ORIGIN_AIRPORT, DESTINATION_AIRPORT, COUNT(*) as N FROM flights GROUP BY ORIGIN_AIRPORT, DESTINATION_AIRPORT'

# Run the query
flight_counts = spark.sql(query)

# Convert the results to a pandas DataFrame
pd_counts = flight_counts.toPandas()

# Print the head of pd_counts
pd_counts.head()

  ORIGIN_AIRPORT DESTINATION_AIRPORT  N
0            BQN                 MCO  2
1            PHL                 MCO  1
2            MCI                 IAH  2
3            SPI                 ORD  1
4            SNA                 PHX  1

In [9]:
# Create pd_temp
pd_temp = pd.DataFrame(np.random.random(10))

# Create spark_temp from pd_temp
spark_temp = spark.createDataFrame(pd_temp)

# Examine the tables in the catalog
print(spark.catalog.listTables())

# Add spark_temp to the catalog
spark_temp.createOrReplaceTempView('temp')

# Examine the tables in the catalog again
print(spark.catalog.listTables())

[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]
[Table(name='flights', database=None, description=None, tableType='TEMPORARY', isTemporary=True), Table(name='temp', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [10]:
file_path = '/content/airports.csv'

# Read in the airports data
airports = spark.read.csv(file_path, header=True)

# Show the data
airports.show()

+---------+--------------------+-------------+-----+-------+--------+----------+
|IATA_CODE|             AIRPORT|         CITY|STATE|COUNTRY|LATITUDE| LONGITUDE|
+---------+--------------------+-------------+-----+-------+--------+----------+
|      ABE|Lehigh Valley Int...|    Allentown|   PA|    USA|40.65236| -75.44040|
|      ABI|Abilene Regional ...|      Abilene|   TX|    USA|32.41132| -99.68190|
|      ABQ|Albuquerque Inter...|  Albuquerque|   NM|    USA|35.04022|-106.60919|
|      ABR|Aberdeen Regional...|     Aberdeen|   SD|    USA|45.44906| -98.42183|
|      ABY|Southwest Georgia...|       Albany|   GA|    USA|31.53552| -84.19447|
|      ACK|Nantucket Memoria...|    Nantucket|   MA|    USA|41.25305| -70.06018|
|      ACT|Waco Regional Air...|         Waco|   TX|    USA|31.61129| -97.23052|
|      ACV|      Arcata Airport|Arcata/Eureka|   CA|    USA|40.97812|-124.10862|
|      ACY|Atlantic City Int...|Atlantic City|   NJ|    USA|39.45758| -74.57717|
|      ADK|        Adak Airport|         Adak|   AK|    USA|51.87796|-176.64603|
|      ADQ|      Kodiak Airport|       Kodiak|   AK|    USA|57.74997|-152.49386|
|      AEX|Alexandria Intern...|   Alexandria|   LA|    USA|31.32737| -92.54856|
|      AGS|Augusta Regional ...|      Augusta|   GA|    USA|33.36996| -81.96450|
|      AKN| King Salmon Airport|  King Salmon|   AK|    USA|58.67680|-156.64922|
|      ALB|Albany Internatio...|       Albany|   NY|    USA|42.74812| -73.80298|
|      ALO|Waterloo Regional...|     Waterloo|   IA|    USA|42.55708| -92.40034|
|      AMA|Rick Husband Amar...|     Amarillo|   TX|    USA|35.21937|-101.70593|
|      ANC|Ted Stevens Ancho...|    Anchorage|   AK|    USA|61.17432|-149.99619|
|      APN|Alpena County Reg...|       Alpena|   MI|    USA|45.07807| -83.56029|
|      ASE|Aspen-Pitkin Coun...|        Aspen|   CO|    USA|39.22316|-106.86885|
+---------+--------------------+-------------+-----+-------+--------+----------+
only showing top 20 rows